@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}

$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;

@mixin text-clamp {
  display: box;
  overflow: hidden;
  box-orient: vertical;
  -webkit-line-clamp: 3;
}
