.hero {
  margin-bottom: 300px;
  padding-top: 276px;

  h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.15;

    span {
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-image: linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%);
      background-clip: text;
    }
  }

  p {
    margin-bottom: 100px;
    max-width: 977px;
  }

  ul {
    display: grid;
    grid-column-gap: 51px;
    grid-template-columns: 1fr 1fr 1fr;

    img {
      margin-bottom: 25px;
      width: 120px;
      height: 120px;
    }

    h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.mission {
  margin: 0 0 300px;

  &__inner {
    display: flex;
  }

  &__head {
    margin-right: 50px;
    width: 100%;
    min-width: 460px;
    max-width: 460px;
  }

  &__info {
    p {
      margin-bottom: 15px;
    }
  }
}

.tech {
  margin-bottom: 300px;

  h3 {
    margin-bottom: 100px;
  }

  ul {
    display: grid;
    grid-gap: 51px;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      max-width: 463px;
      border: 3px solid transparent;
      border-radius: 35px;
      background:
        linear-gradient(#202020, #202020) padding-box,
        linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%) border-box;
    }
  }
}

.get {
  margin-bottom: 300px;

  h3 {
    margin-bottom: 100px;
  }

  &__slider {
    box-sizing: border-box;
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    right: 0;
    top: -73px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 46px;
    font-size: 0;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.5);

    &::after {
      content: url("../images/slick-arrow-right.svg");
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 10;
      width: 24px;
      height: 24px;
      transform: translate(-50%, -50%);
    }
  }

  .slick-prev {
    right: 55px;

    &::after {
      content: url("../images/slick-arrow-left.svg") !important;
    }
  }

  &__item {
    display: inline-block;
    padding: 38px 26px 40px 30px;
    height: 200px;
    max-width: 256px;
    border: 3px solid transparent;
    border-radius: 35px;
    background:
      linear-gradient(#202020, #202020) padding-box,
      linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%) border-box;

    + .get__item {
      margin-left: 50px;
    }

    h5 {
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 10px;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-image: linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%);
      background-clip: text;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        border-radius: 22px;
        background-image: linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%);
      }
    }

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.contact {
  padding-bottom: 125px;

  h3 {
    margin-bottom: 20px;
  }

  &__inner {
    max-width: 976px;
  }

  p {
    margin-bottom: 63px;
  }
}

.form {
  &__wrapper {
    position: relative;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 183px;

    label {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      max-width: 464px;

      span {
        opacity: 0.5;
        margin-bottom: 10px;
        padding-left: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #dfdfdf;
      }

      input {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        padding-left: 15px;
        outline: 0;
        outline-offset: 0;
        border: none;
        border-bottom: 1px solid #fff;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-decoration: none;
        color: #dfdfdf;
        background-color: transparent;

        &::placeholder {
          opacity: 0.5;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: #dfdfdf;
        }

        &:active,
        &:hover,
        &:focus {
          outline: 0;
          outline-offset: 0;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  &__checkbox {
    margin-bottom: 50px;

    span {
      padding-left: 15px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    a {
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-image: linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%);
      background-clip: text;
    }
  }

  .btn {
    outline: none;
    outline-offset: 0;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
      text-decoration: none;
      color: inherit;
    }
  }

  &__course {
    position: absolute;
    bottom: 202px;
    padding-left: 15px;

    h4,
    h5 {
      opacity: 0.5;
      color: #dfdfdf;
    }

    h5 {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    h4 {
      position: relative;
      padding-right: 34px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: 7px;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 5px solid #dfdfdf;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        transform: translateY(-50%);
      }
    }

    ul {
      position: absolute;
      right: -500px;
      padding: 10px;
      width: 464px;
      background-color: #2d2d2d;

      li {
        padding: 10px 15px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #8d8d8d;
        transition: 0.2s;

        &:hover {
          color: #fff;
          background-color: #3c3c3c;
          cursor: pointer;
        }

        &:active {
          font-weight: 500;
          background-color: #1d1d1d;
        }
      }
    }
  }
}

.question {
  margin-bottom: 300px;

  h3 {
    margin-bottom: 100px;
  }

  .panel-group {
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb;
  }

  .panel {
    padding: 35px 0;
    border-top: 1px solid #ebebeb;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    background-color: transparent;

    + .panel {
      margin-top: 0;
    }
  }

  .panel-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
  }

  .panel-heading {
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
    background-color: transparent;

    a::before,
    a::after {
      content: "";
      position: absolute;
      border-radius: 20px;
      background-color: #fff;
      transition: all 0.2s;
    }

    a::after {
      right: 16px;
      top: 18px;
      width: 20px;
      height: 2px;
    }

    a::before {
      right: 25px;
      top: 9px;
      visibility: hidden;
      opacity: 0;
      width: 2px;
      height: 20px;
    }

    a.collapsed::before {
      visibility: visible;
      opacity: 1;
    }
  }

  .panel-body {
    margin-top: 18px;
    padding: 0 0 0 110px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #dfdfdf;

    &::after,
    &::before {
      display: none;
    }

    div {
      position: relative;
      padding: 24px 0 24px 15px;
      max-width: 917px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(90.71deg, #8d5bdf 0%, #1860ed 100%);
      }
    }
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}
