.terms-policy {
  padding: 246px 0 230px;
  animation: appear 2.5s;

  img {
    position: absolute;
    left: -200px;
    top: 43%;

    @include r($md) {
      left: -150px;
    }
  }

  &__container {
    max-width: 976px;
  }

  h1 {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;

    @include r($md) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  h3 {
    margin: 50px 0 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    @include r($md) {
      text-align: left;
    }
  }

  p {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    @include r($md) {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  ul {
    margin-bottom: 50px;
    padding-left: 26px;

    li {
      position: relative;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      &::after {
        content: "";
        position: absolute;
        left: -16px;
        top: 12px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;

        @include r($md) {
          width: 4px;
          height: 4px;
        }
      }
    }

    @include r($md) {
      padding-left: 21px;
    }
  }

  @include r(1600) {
    padding: 200px 0 154px;
  }

  @include r($xl) {
    padding: 160px 0 124px;
  }

  @include r($lg) {
    padding: 125px 0 94px;
  }

  @include r($md) {
    padding: 105px 0 70px;
  }
}